body {
  background: url('https://img.freepik.com/foto-gratis/botas-zapatos-cuero_1203-8161.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}